body {
    background-image: url(Images/Aglou-plage-Arche-sur-la-plage-de-legzira.jpeg);
    background-repeat:repeat-y;
}
.marginTop{
    margin-top:10px;
}
.whiteBkgrndOpacity {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius:5px;
}
* {
    font-family: 'Oswald', sans-serif;
}
